Django==5.0.6
djangorestframework==3.14.0

django-crispy-forms==2.3
crispy-bootstrap5==2024.10

django-environ==0.11.2
mysqlclient==2.2.8

openpyxl==3.1.5
pandas==3.0.5
numpy==2.5.3

django-filter==24.2

user-agents==2.2.0
ua-parser==1.0.2
ua-parser-builtins==202606

openai==3.11.0

python -m pip install whitenoise